.graphsContainer {
    height: 175px;
    padding: 5px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background: rgb(244, 248, 251);
    margin-bottom: 20px;
}

.componentFilling {
    width: 100%;
    height: 250px;
    display: block;
    background: radial-gradient(yellow, #ddd);
}

.coinChartItem {
    height: 100%;
    width: 200px;
    border: 1px solid lightgrey;
    padding: 5px;
    background: white;
}

.portfolioColumn {
    text-align: center;
}

.portfolioCoinName {
    width: 20%;
}

.portfolioRatioBar {
    width: 20%;
}

.portfolioCoinAmount {
    width: 30%;
}

.portfolioCoinAmountInUsd {
    width: 30%;
}

.verificationIcon {
    color: blue !important;
    border: 1px solid blue;
    border-radius: 50px;
    padding: 4px;
}

.verificationIcon.idIcon {
    color: red !important;
    border: 1px solid red;
}

.minimalTableColumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding: 20px 5px !important;
    font-size: 13px;
}

.minimalTableContainer {
    overflow: hidden;
}

.dashboardComponentHeader {
    color: #2d77da !important;
    font-weight: normal;
}

.dashboardComponent {
    border: 1px solid lightgrey;
    padding: 12px;
}