.card_fifth {
    height: 359px;
}

.card_fifth .card_container {
    width: 75%;
    margin: 0 auto;
    display: flex;
}

.card_fifth .left_content {
    align-self: center;
}

.card_fifth .left_content .btn {
    margin-top: 40px;
}

.card_fifth img {
    margin-top: -25px;
    margin-left: auto;
}

@media (max-width: 767px) {
    .card_fifth {
        height: 300px;
    }

    .card_fifth .card_title {
        font-size: 27px;
        text-align: center;
    }

    .card_fifth .left_content {
        margin: 70px auto 0;
    }
}