.manage{
	background-size: cover !important;
	padding: 300px 0 200px;
}
.manage_inner{
	display: flex;
	justify-content: space-between;
}
.manage_content{
	width: 54%;
	
}

.manage_content a{
	color: #fff;
}

@media (max-width: 991px){
	.manage_content{
		width: 100%;
	}

	.manage_content h2{
		text-align: center;
	}
}
@media (max-width: 520px){
	.manage{
		padding: 120px 0;
	}
}