.wallet_help {
    padding: 56px 0;
    background-color: #0f5db7;
    position: relative;
    overflow: hidden;
    z-index: -2;
}

.wallet_help img {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 35px;
    z-index: -1;
}

.wallet_help .help_inner {
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;
    z-index: 1;
    align-items: center;
}

@media (max-width: 768px) {
    .wallet_help .help_inner {
        display: block;
        text-align: center;
    }

    .wallet_help .btn_mobile {
        margin-bottom: 25px;
    }
}